.catalog {
    background-color: #000;
}
.title-page {
    color: #fff;
    font-size: 30px;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    padding-right: 175px;
}
.catalog-top {
    display: flex;
    align-items: center;
    padding-bottom: 50px;
}
.filter-text {
    font-size: 15px;
    color: rgba(255, 255, 255, 0.5);
}
.filter-reset {
    color: #fff;
    padding-left: 15px;
    padding-right: 600px;
}
.sort {
    width: 168px;
    height: 35px;
    background-color: #ffffff;
    color: #000;
    font-size: 15px;
    font-weight: 400;
    border-radius: 5px;
    font-family: 'Roboto', sans-serif;
    border: none;
}
.sort-icon {
    padding-left: 30px;
}
.products {
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
}
.filter {
    width: 280px;
    color: #fff;
    padding-bottom: 200px;
    padding-right: 50px;
}
.catalog-section {
    display: flex;
}
.product-block_category {
    width: 338px;
    margin-right: 40px;
    padding-bottom: 100px;
}
.image-prod {
    padding-bottom: 20px;
}
.title-product {
    color: #fff;
    font-size: 20px;
    font-weight: 700;
    font-family: 'Roboto', sans-serif;
    padding-bottom: 10px;
}
.subtitle-product {
    color: #BBBBBB;
    font-size: 14px;
    font-weight: 400;
    padding-bottom: 25px;
}
.product-button {
    display: flex;
    justify-content: space-between;
}
.product-price {
    color: rgb(255, 255, 255);
    background-color: none;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: 500;
    width: 100px;
    border: none;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 5px;
    text-align: center;
    cursor: pointer;
    transition: 0.3s;
}
.product-price:hover {
    color: #000;
    background-color: #FFD704;
    box-shadow: 3px 2px 0px #FF2727;
}
.product-to-cart {
    color: rgb(0, 0, 0);
    background-color: #FFD704;
    font-family: 'Roboto', sans-serif;
    font-size: 20;
    font-weight: 500;
    width: 137px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.product-to-cart:hover {
    color: #000;
    background-color: #FFD704;
    box-shadow: 3px 2px 0px #FF2727;
}

/* Крошки */
.pages {
    display: flex;
    justify-content: center;
}
.wrap_area {
    display: flex;
    align-items: center;
    padding-bottom: 30px;
    padding-top: 20px;
}
.home {
    width: 30px;
    height: 30px;
    background-color: #FFD704;
    margin-right: 15px;
    text-align: center;
    border-radius: 5px;
}
.home img {
    padding-top: 6px;
}
.next-page {
    margin-right: 15px;
}
.page_area a{
    color: #9C9C9C;
    padding-right: 15px;
} 
/* Крошки */

.pages-section {
    color: #fff;
    display: flex;
    align-items: center;
}
.pages {
    padding-bottom: 100px;
}
.before-product_page {
    margin-right: 30px;
}
.next-product_page {
    margin-right: 30px;
}
.number-page_product {
    margin-right: 30px;
}
.number-page_product a {
    color: #CBCBCB;
    padding-right: 15px;
}
.number-page_product_active a{
    background-color: rgb(255, 255, 255);
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-right: 30px;
    border-radius: 5px;
}