.history {
    background-color: #000;
    padding-top: 50px;
}
.title-page {
    color: #fff;
    font-size: 30px;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    padding-right: 175px;
}
.catalog-top {
    display: flex;
    align-items: center;
    padding-bottom: 50px;
    justify-content: space-between;
}
.filter-text {
    font-size: 15px;
    color: rgba(255, 255, 255, 0.5);
}
.filter-reset {
    color: #fff;
    padding-left: 15px;
    padding-right: 600px;
}
.sort {
    width: 168px;
    height: 35px;
    background-color: #ffffff;
    color: #000;
    font-size: 15px;
    font-weight: 400;
    border-radius: 5px;
    font-family: 'Roboto', sans-serif;
    border: none;
    cursor: pointer;
}
.sort-icon {
    padding-left: 30px;
}
.products {
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
}
.button-navigation {
    width: 280px;
    color: #fff;
    padding-bottom: 200px;
    padding-right: 50px;
}
.nav-section {
    display: flex;
}

/* Крошки */
.pages {
    display: flex;
    justify-content: center;
}
.wrap_area {
    display: flex;
    align-items: center;
    padding-bottom: 30px;
    padding-top: 20px;
}
.home {
    width: 30px;
    height: 30px;
    background-color: #FFD704;
    margin-right: 15px;
    text-align: center;
    border-radius: 5px;
}
.home img {
    padding-top: 6px;
}
.next-page {
    margin-right: 15px;
}
.page_area a{
    color: #9C9C9C;
    padding-right: 15px;
} 
.order-block {
    width: 1012px;
    height: 150px;
    background-color: #222222;
    margin-bottom: 26px;
    display: flex;
    align-items: center;
    padding-left: 15px;
    border-radius: 10px;
}
.history-orders {
    margin-bottom: 180px;
}
.green-line {
    width: 5px;
    height: 107px;
    background-color: #00CA2C;
    border-radius: 30px;
}
.yellow-line {
    width: 5px;
    height: 107px;
    background-color: #FFD704;
    border-radius: 30px;
}
.grey-line {
    width: 5px;
    height: 107px;
    background-color: #626262;
    border-radius: 30px;
}
.order-img__user-order {
    margin-right: 8px;
}
.order-status {
    padding-bottom: 12px;
}
.order-status-text_green {
    color: #00CA2C;
    font-size: 17px;
    font-weight: 600;
    font-family: 'Roboto', sans-serif;
}
.order-status-text_grey {
    color: #ffffff;
    font-size: 17px;
    font-weight: 600;
    font-family: 'Roboto', sans-serif;
}
.order-status-text_yellow {
    color: #FFD704;
    font-size: 17px;
    font-weight: 600;
    font-family: 'Roboto', sans-serif;
}
.order-status-date {
    font-size: 15px;
    font-weight: 700;
    color: #fff;
}
.order-block_user-order {
    padding-left: 16px;
}
.order-header {
    display: flex;
    justify-content: space-between;
}
.order-number-title {
    font-size: 16px;
    font-weight: 400;
    color: #B5B5B5;
}
.order-number {
    font-size: 15;
    font-weight: 700;
    color: #fff;
}
.user_order__block-status {
    display: flex;
}
.block-order__sum {
    background-color: #F3F3F3;
    width: 160px;
    height: 40px;
    border-radius: 5px;
    align-items: center;
    display: flex;
    padding-left: 50px;
    margin-right: 15px;
}
.block-order__status {
    background-color: #F3F3F3;
    width: 160px;
    height: 40px;
    border-radius: 5px;
    align-items: center;
    display: flex;
    padding-left: 45px;
}
.order__blocks-info {
    display: flex;
    padding-top: 30px;
    padding-left: 130px;
}
.order__status {
    color: #959595;
}
/* Крошки */

.pages-section {
    color: #fff;
    display: flex;
    align-items: center;
}
.pages {
    padding-bottom: 100px;
}
.before-product_page {
    margin-right: 30px;
}
.next-product_page {
    margin-right: 30px;
}
.number-page_product {
    margin-right: 30px;
}
.number-page_product a {
    color: #CBCBCB;
    padding-right: 15px;
}
.number-page_product_active a{
    background-color: rgb(255, 255, 255);
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-right: 30px;
    border-radius: 5px;
}
.title-product-page {
    font-size: 25px;
    color: #fff;
    font-weight: 700;
}
.profile-bar {
    width: 100%;
    height: 160px;
    background-color: #222222;
}
.user-name {
    display: flex;
    justify-content: space-between;
    font-size: 25px;
    font-weight: 600;
    color: #fff;
    padding-bottom: 14px;
    font-family: 'Roboto', sans-serif;
}
.profile-info {
    padding-left: 40px;
}
.text-description {
    color: #7C7C7C;
    font-size: 15px;
}
.profile-description {
    padding-left: 40px;
}
.user-cabinet {
    color: #fff;
    font-size: 16px;
}

#progressbar-gold {
    background-color: #4A4A4A;
    border-radius: 5px;
  }
  
  #progressbar-gold>div {
    background-color: #FFD704;
    width: 45%;
    height: 20px;
    border-radius: 0 3px 3px 0;
    border-radius: 5px;
  }
.bar-gold {
    width: 133px;
} 
.bar {
    display: flex;
    align-items: center;
}
.gold-profile {
    color: white;
    font-family: 'Roboto', sans-serif;
    margin-left: 8px;
    margin-right: 8px;
    border-bottom: 1px solid #fff;
}
.status-bar {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    padding-left: 5px;
}
.profile-block {
    display: flex;
    justify-content: space-between;
    padding-top: 30px;
    align-items: center;
}
.button-profile_nav {
    display: flex;
    align-items: center;
    color: #fff;
    width: 250px;
    height: 50px;
    background-color: #222222;
    border-radius: 8px;
    margin-bottom: 20px;
}
.button-profile_nav_active {
    display: flex;
    align-items: center;
    color: rgb(0, 0, 0);
    width: 250px;
    height: 50px;
    background-color: #ffffff;
    border-radius: 8px;
    margin-bottom: 20px;
}
.btn-profile-nav_main {
    color: #fff;
    display: flex;
    align-items: center;
    padding-left: 15px;
}
.btn-profile-nav_active {
    color: rgb(0, 0, 0);
    display: flex;
    align-items: center;
    padding-left: 15px;
}
.icon-profile-nav {
    padding-right: 10px;
}
@media (max-width: 1560px) {
    .order-block {
        width: 100%;
        padding-right: 20px;
    }
    .order-block__section {
        display: flex;
        width: 230px;
        overflow: hidden;
    }
}
@media (max-width: 1115px) {
    .nav-section {
        flex-direction: column
    }
    .button-navigation {
        padding-bottom: 30px;
    }
    .order__blocks-info {
        padding-left: 90px;
    }
    .profile-description {
        display: none;
    }
}
@media (max-width: 860px) {
    .user_order__block-status {
        flex-direction: column
    }
    .order-block {
        height: auto;
        padding: 20px;
    }
    .order__blocks-info {
        padding-left: 0;
        /* margin-top: 50px; */
    }
    .green-line, .yellow-line, .grey-line {
        height: 170px;
    }
    .user-cabinet {
        margin-left: 30px;
    }
}
@media (max-width: 600px) {
    .user-cabinet {
        display: none;
    }
    .order__blocks-info {
        flex-direction: column
    }
    .block-order__sum {
        margin-bottom: 15px;
    }
    .green-line, .yellow-line, .grey-line {
        height: 250px;
    }
}

