@font-face { 
    font-family: 'Roboto-Regular'; 
    src: url('../fonts/Roboto-Regular.eot') format('eot'), 
         url('../fonts/Roboto-Regular.ttf')  format('truetype'),
         url('../fonts/Roboto-Regular.woff') format('woff');
  }
@font-face { 
    font-family: 'Roboto-Medium'; 
    src: url('../fonts/Roboto-Medium.eot') format('eot'), 
         url('../fonts/Roboto-Medium.ttf')  format('truetype'),
         url('../fonts/Roboto-Medium.woff') format('woff');
}
@font-face { 
    font-family: 'Roboto-Bold'; 
    src: url('../fonts/Roboto-Bold.eot') format('eot'), 
         url('../fonts/Roboto-Bold.ttf')  format('truetype'),
         url('../fonts/Roboto-Bold.woff') format('woff');
}
@font-face { 
    font-family: 'Montserrat'; 
    src: url('../fonts/Montserrat-Regular.eot') format('eot'), 
         url('../fonts/Montserrat-Regular.ttf')  format('truetype'),
         url('../fonts/Montserrat-Regular.woff') format('woff');
}
html {
    box-sizing: border-box;
}
body {
    font-family: 'Roboto', sans-serif;
}
*, *::before, *::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
    color: #000;
}
.container {
    width: 1420px;
    margin: auto;
}
/* main */
.main {
    background-color: #000;
    min-height: calc(100vh - 760px);
}
/* header */
.header {
    font-family: 'Montserrat';
    font-size: 16px;
}
.header-top {
    background-color: #FFD704;
}
.header-top-wrapper {
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
}
.header-address, .header-nav, .contacts, .contacts__link {
    display: flex;
    align-items: center;
}
.header-address__text {
    margin-left: 11px;
    text-decoration: underline;
    line-height: 20px;
}
.header-nav__item {
    margin-right: 20px;
}
.header-nav__item:last-child {
    margin-right: 0;
}
.contacts__phone {
    margin-left: 9px;
    margin-right: 4px;
    font-weight: 700;
}
.header-bot {
    background-color: #000;
}
.header-bot-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 0px 40px 0px;
}
.header__catalog {
    display: inline-block;
    padding-top: 12px;
    text-align: center;
    width: 165px;
    height: 45px;
    background-color: #FFD704;
    font-size: 18px;
    line-height: 21px;
    border-radius: 8px;
}
.header__search-block {
    width: 948px;
    height: 45px;
    position: relative;
}
.header__search-input {
    width: 100%;
    height: 45px;
    border: 1px solid #FFD704;
    border-radius: 8px;
    padding: 0 70px 0 22px;
}
.header__search-input:focus {
    outline: none;
}
.header__search-button {
    width: 48px;
    height: 45px;
    background-color: #FFD704;
    border: none;
    border-radius: 8px;
    position: absolute;
    right: 0;
    top: 0;
    cursor: pointer;
}
.header__menu {
    display: flex;
    align-items: center;
}
.header__menu-link {
    margin-left: 27px;
}
.header__basket {
    position: relative;
}
.basket-counter {
    position: absolute;
    top: -4px;
    right: -8px;
    width: 17px;
    height: 17px;
    background-color: #FF2727;
    border-radius: 50%;
    color: #fff;
    font-weight: 900;
    font-size: 12px;
    line-height: 17px;
    text-align: center;
}
/* footer */
.footer-top {
    background-color: #FFD704;
}
.footer-top-wrapper {
    padding: 18px 0;
    display: flex;
    justify-content: space-between;
}
.footer-top__text {
    display: flex;
}
.footer__contact-us {
    margin-left: 47px;
}
.contact-us__text {
    margin-left: 9px;
}
.social-icon {
    margin-left: 20px;
}
.footer-mid {
    background-color: #222222;
}
.footer-mid-wrapper {
    padding: 45px 0;
    display: flex;
    flex-direction: column;
}
.footer-menu {
    display: flex;
    justify-content: space-between;
    margin-bottom: 39px;
}
.footer-menu__col {
    display: flex;
    flex-direction: column;
}
.footer-menu__title, .footer-payments__title {
    font-family: 'Roboto', sans-serif;
    color: #fff;
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 13px;
}
.footer-menu__item {
    font-family: 'Montserrat', sans-serif;
    color: #cfcfcf;
    font-size: 14px;
    line-height: 22px;
}
.footer-payments__icon {
    margin-right: 45px;
}
.footer-payments__icon:last-child {
    margin-right: 0;
}
.footer-bot {
    background-color: #161616;
}
.footer-bot-wrapper {
    padding: 24px 0;
    color: #6B6B6B;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}
.footer-bot__title {
    font-weight: 400;
    margin-bottom: 9px;
    font-size: 14px;
    line-height: 22px;
}
.footer-bot__info {
    font-size: 12px;
    line-height: 20px;
}

@media (max-width: 1499px) {
    .container {
        width: 980px;
    }
    .main {
        min-height: calc(100vh - 780px);
    }
    /* header */
    .header__search-block {
        width: 490px;
    }
}
@media (max-width: 1040px) {
    .container {
        width: 720px;
    }
    .main {
        min-height: calc(100vh - 770px);
    }
    /* header */
    .header-address__text {
        display: none;
    }
    .contacts__time {
        display: none;
    }
    .header__catalog {
        font-size: 16px;
        width: 125px;
    }
    .header__search-block {
        width: 310px;
    }
    /* footer */
    .footer-menu__title, .footer-payments__title {
        font-size: 16px;
    }
    .footer-menu__item {
        font-size: 10px;
    }
}
@media (max-width: 767px) {
    .container {
        width: 460px;
    }
    .main {
        min-height: 0;
    }
    /* header */
    .contacts__phone {
        display: none;
    }
    .header {
        font-size: 12px;
        line-height: normal;
    }
    .header-top-wrapper {
        padding: 13px 0;
    }
    .header-bot-wrapper {
        justify-content: flex-start;
        flex-wrap: wrap;
    }
    .header__logo-wrapper {
        margin-right: 55px;
        margin-bottom: 30px;
    }
    .header__catalog {
        width: 188px;
        margin-bottom: 30px;
    }
    .header__search-block {
        width: 300px;
    }
    
    /* footer */
    .social-icon {
        margin-left: 10px;
    }
    .footer-menu {
        flex-direction: column;
    }
    .footer-menu__col {
        margin-bottom: 30px;
    }
    .footer-payments__icon {
        margin-bottom: 10px;
    }
}
@media (max-width: 499px) {
    .container {
        width: 290px;
    }

    /* header */
    .header-nav__item {
        margin-right: 10px;
    }
    .header__logo-wrapper {
        margin-right: 44px;
    }
    .header__search-block {
        width: 100%;
        margin-bottom: 30px;
    }
    .header__menu {
        width: 100%;
        display: flex;
        justify-content: space-around;
    }
    .header__menu-link {
        margin: 0;
    }
    /* footer */
    .footer__contact-us {
        margin-left: 20px;
    }
    .contact-us__text {
        display: none;
    }
}