.news {
    background-color: #000;
}
.page-title_news {
    color: #fff;
    font-size: 35px;
    font-weight: 600;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 31px;
}
.news_block {
    display: flex;
    justify-content: space-between;
    padding-bottom: 50px;
}
.banner_block {
    width: 1420px;
    height: 229px;
    background-image: url(../img/news/banner_2.png);
    background-repeat: no-repeat;
    background-size: 100%;
}
.banner-title {
    color: #fff;
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 30px;
    line-height: 1.5;
}
.date_text {
    display: flex;
    color: #F8F8F8;
    font-size: 15px;
}
.fisrt-text {
    margin-right: 20px;
}
.banner-text_block {
    padding-top: 50px;
    padding-left: 31px;
}
.description {
    color: #fff;
    padding-bottom: 32px;
    font-weight: 400;
}
.description-text {
    line-height: 2;
}
.text_h1 {
    font-size: 30px;
}
.button_to-product {
    padding-bottom: 130px;
}
.to-product {
    width: 284px;
    height: 51px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 8px;
    background-color: #FFD704;
    font-size: 18px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 15px;
    padding-top: 15px;
}