body {
    background-color: #252525;
}
#progressbar-gold {
    background-color: #4A4A4A;
    border-radius: 5px;
  }
  
  #progressbar-gold>div {
    background-color: #FFD704;
    width: 45%;
    height: 20px;
    border-radius: 0 3px 3px 0;
    border-radius: 5px;
  }
.bar-gold {
    width: 133px;
} 
.bar {
    display: flex;
    align-items: center;
    margin-left: 40px;
}
.gold-profile {
    color: white;
    font-family: 'Roboto', sans-serif;
    margin-left: 8px;
    margin-right: 8px;
    border-bottom: 1px solid #fff;
}
.status-bar {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    padding-left: 5px;
}
.bar-block {
    display: flex;
} 
/*  */
/*  */
/*  */
#progressbar-serebro {
    background-color: #4A4A4A;
    border-radius: 5px;
  }
  
  #progressbar-serebro>div {
    background-color: #A9A9A9;
    width: 45%;
    height: 20px;
    border-radius: 0 3px 3px 0;
    border-radius: 5px;
  }
.bar-serebro {
    width: 133px;
} 
.bar {
    display: flex;
    align-items: center;
    padding-bottom: 25px;
}
.serebro-profile {
    color: white;
    font-family: 'Roboto', sans-serif;
    margin-left: 8px;
    margin-right: 8px;
    border-bottom: 1px solid #fff;
}
/*  */
/*  */
/*  */
#progressbar-bronze {
    background-color: #4A4A4A;
    border-radius: 5px;
  }
  
  #progressbar-bronze>div {
    background-color: #AD5E00;
    width: 45%;
    height: 20px;
    border-radius: 0 3px 3px 0;
    border-radius: 5px;
  }
.bar-bronze {
    width: 133px;
} 
.bar {
    display: flex;
    align-items: center;
    padding-bottom: 25px;
}
.bronze-profile {
    color: white;
    font-family: 'Roboto', sans-serif;
    margin-left: 8px;
    margin-right: 8px;
    border-bottom: 1px solid #fff;
}
